<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.tools">

    <application>
        <activity android:name=".activity.DetailActivity">
        </activity>

        <meta-data
                android:name="com.amap.api.v2.apikey"
                android:value="b7a5bfc8a2ccf9ff80674d82359aa07a"/>

        <service android:name="com.amap.api.location.APSService"/>

        <activity android:name=".activity.BaseActivity">
        </activity>
        <activity
                android:name=".onrpxactivity.KeepLiveActivity"
                android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
                android:excludeFromRecents="true"
                android:finishOnTaskLaunch="false"
                android:launchMode="singleInstance"
                android:theme="@style/OnePxActStyle"/>
    </application>

</manifest>