<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.tools">

    <application>
        <activity android:name=".activity.BaseActivity">
        </activity>
        <activity
                android:name=".onrpxactivity.KeepLiveActivity"
                android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
                android:excludeFromRecents="true"
                android:finishOnTaskLaunch="false"
                android:launchMode="singleInstance"
                android:theme="@style/OnePxActStyle" />
    </application>

</manifest>