<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.entrance">

    <application>
        <activity android:name=".register.view.RegisterActivity">
        </activity>
        <activity android:name=".login.view.LoginActivity">
        </activity>
    </application>

</manifest>