<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.homepager_older">

    <application>
        <meta-data
                android:name="com.amap.api.v2.apikey"
                android:value="70c0e6cd0742128a9d192d8f3987822b"/>

        <service android:name="com.amap.api.location.APSService"/>

        <activity android:name=".activity.OlderActivity">
        </activity>

        <service
                android:name=".step.BindService"
                android:enabled="true"
                android:exported="true"/>
    </application>

</manifest>